<html>
<title>Hoang Viet Trung -2121051228</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>

<div class="w3-container">
  <h2>Hoang Viet Trung -2121051228</h2>
  <input type="button" class="w3-button w3-black" value="Input Button">
  <button class="w3-button w3-black">Button Button</button>
  <a href="#" class="w3-button w3-black">Link Button</a>
</div>

<div class="w3-container">
  <h2>Buttons (w3-btn)</h2>
  <input type="button" class="w3-btn w3-black" value="Input Button">
  <button class="w3-btn w3-black">Button Button</button>
  <a href="#" class="w3-btn w3-black">Link Button</a>
</div>
<div>
<button class="w3-button w3-black">Black</button>
<button class="w3-button w3-khaki">Khaki</button>
<button class="w3-button w3-yellow">Yellow</button>
<button class="w3-button w3-red">Red</button>
<button class="w3-button w3-purple">Purple</button>
</div>
<div>
<button class="w3-button w3-hover-black">Black</button>
<button class="w3-button w3-hover-red">Red</button>
<button class="w3-button w3-hover-purple">Purple</button>
</div>
<div>
<button class="w3-button w3-round">Round</button>
<button class="w3-button w3-round-large">Rounder</button>
<button class="w3-button w3-round-xlarge">and Rounder</button>
<button class="w3-button w3-round-xxlarge">and Rounder</button>
<button class="w3-btn w3-round">Round</button>
<button class="w3-btn w3-round-large">Rounder</button>
<button class="w3-btn w3-round-xlarge">and Rounder</button>
<button class="w3-btn w3-round-xxlarge">and Rounder</button>
</div>
<div>
<button class="w3-button w3-tiny">Tiny</button>
<button class="w3-button w3-small">Small</button>
<button class="w3-button w3-medium">Medium</button>
<button class="w3-button w3-large">Large</button>
<button class="w3-button w3-xlarge">xLarge</button>
<button class="w3-button w3-xxlarge">XXLarge</button>
<button class="w3-button w3-xxxlarge">XXXLarge</button>
<button class="w3-button w3-jumbo">Jumbo</button>
</div>


</body>
</html>