<html lang="en">
<title>W3.CSS Case</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

<body>
  <h1>Hoang Viet Trung -2121051228</h1>
  <p>This site will grow as we add more ...</p>
  <p>This is a paragraph.</p>
  <p>This is another paragraph.</p>
  <p>This is a paragraph.</p>
  <p>This is another paragraph.</p>
</body>
<div class="w3-container">
  <h1>Hoang Viet Trung -2121051228</h1>
  <p>This site will grow as we add more ...</p>
</div>

<div class="w3-container">
  <p>This is another paragraph.</p>
  <p>This is a paragraph.</p>
  <p>This is another paragraph.</p>
</div>
<div class="w3-container w3-light-grey">
  <h1>Hoang Viet Trung -2121051228</h1>
  <p>This site will grow as we add more ...</p>
</div>

<div class="w3-container">
  <p>This is another paragraph.</p>
  <p>This is a paragraph.</p>
  <p>This is another paragraph.</p>
</div>
<div class="w3-container w3-light-grey">
  <h1 class="w3-jumbo">Hoang Viet Trung -2121051228</h1>
  <p class="w3-xxlarge">This site will grow as we add more ...</p>
</div>

<div class="w3-container">
  <p>This is another paragraph.</p>
  <p>This is a paragraph.</p>
  <p>This is another paragraph.</p>
</div>
<div class="w3-row-padding">
  <div class="w3-third">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
  <div class="w3-third">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
  <div class="w3-third">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
</div>
<div class="w3-row-padding">
  <div class="w3-quarter">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
  <div class="w3-quarter">
     <p>Hoang Viet Trung -2121051228</p>
 </div>
  <div class="w3-quarter">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
  <div class="w3-quarter">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
</div>

</html>
