<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>

<div class="w3-container w3-red">
  <p>Hoang Viet Trung -2121051228.</p>
</div>

<div class="w3-container w3-green">
  <p>Hoang Viet Trung -2121051228</p>
</div>
<div class="w3-container w3-red w3-cell">
  <p>Hoang Viet Trung -2121051228</p>
</div>

<div class="w3-container w3-green w3-cell">
  <p>Hoang Viet Trung -2121051228</p>
</div>
<div class="w3-cell-row">

  <div class="w3-container w3-red w3-cell">
    <p>Hoang Viet Trung -2121051228</p>
  </div>

  <div class="w3-container w3-green w3-cell">
    <p>Hello W3.CSS Cell.</p>
  </div>

</div>
<div class="w3-cell-row" style="width:75%">

  <div class="w3-container w3-red w3-cell">
    <p>Hello W3.CSS Cell.</p>
  </div>

  <div class="w3-container w3-green w3-cell">
    <p>Hello W3.CSS Cell.</p>
  </div>

</div>
<div class="w3-container w3-red w3-cell">
  <p>Hello W3.CSS Cell.</p>
</div>

<div class="w3-container w3-green w3-cell">
  <p>Hello W3.CSS Cell. Hello W3.CSS Cell.</p>
</div>
<div class="w3-container w3-red w3-cell">
  <p>Hello W3.CSS Cell.</p>
</div>

<div class="w3-container w3-green w3-cell">
  <p>Hoang Viet Trung -2121051228</p>
  
</div>
<div class="w3-container w3-red w3-cell w3-mobile">
  <p>Hello W3.CSS Cell.</p>
</div>
<div class="w3-container w3-green w3-cell w3-mobile">
  <p>Hello W3.CSS Cell.</p>
</div>
<div class="w3-container w3-blue w3-cell w3-mobile">
  <p>Hello W3.CSS Cell.</p>
</div>
<div class="w3-container w3-red w3-cell">
  <p>Hoang Viet Trung -2121051228</p>
  
</div>

<div class="w3-container w3-green w3-cell w3-cell-middle">
  <p>Hello W3.CSS Cell.</p>
</div>

<div class="w3-container w3-blue w3-cell w3-cell-bottom">
  <p>Hello W3.CSS Cell.</p>
</div>
<div class="w3-cell-row">

<div class="w3-container w3-red w3-cell">
  <p>Hoang Viet Trung -2121051228</p>
  
</div>

<div class="w3-container w3-green w3-cell w3-cell-middle">
  <p>Hello W3.CSS Cell.</p>
</div>

<div class="w3-container w3-blue w3-cell w3-cell-bottom">
  <p>Hello W3.CSS Cell.</p>
</div>

</div>

</body>
</html>