<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>

<div class="w3-container">
<h2>Dark Mode</h2>
<p>Hoang Viet Trung -2121051228</p>

<button class="w3-button w3-light-grey" onclick="myFunction()">Hoang Viet Trung -2121051228</button>
</div>

<script>
function myFunction() {
  let x = document.body;
  x.classList.toggle("w3-black");
}
</script>

</body>
</html>
