<html>
<title>Hoang Viet Trung -2121051228</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>

<div class="w3-flex" style="gap:8px">
  <div class="w3-padding w3-green"><h3>1</h3></div>
  <div class="w3-padding w3-green"><h3>2</h3></div>
  <div class="w3-padding w3-green"><h3>3</h3></div>
</div>
<div class="w3-flex" style="gap:8px">
<div class="w3-flex" style="flex-direction:row">
<div class="w3-flex" style="flex-direction:column">
<div class="w3-flex" style="flex-direction:row-reverse">
<div class="w3-flex" style="flex-direction:row-reverse">
<div class="w3-flex" style="flex-wrap:nowrap">
<div class="w3-flex" style="flex-wrap:wrap">
<div class="w3-flex" style="flex-wrap:wrap-reverse">
<div class="w3-flex" style="flex-flow:row wrap">
</body>
</html>