<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>

<div class="w3-container w3-red">
  <h1>Hoang Viet Trung</h1>
  <p>Hoang Viet Trung</p>
</div>
<div class="w3-container w3-teal">
  <h1>Hoang Viet Trung</h1>
</div>

<div class="w3-container">
  <h2>Hoang Viet Trung</h2>
  <p>Hoang Viet Trung</p>
  <p>Hoang Viet Trung</p>
</div>

<div class="w3-container w3-teal">
  <p>Hoang Viet Trung</p>
</div>
<div class="w3-panel w3-red">
  <p>2121051228</p>
</div> 
<div class="w3-panel w3-warning">
  <h3>2121051228</h3>
  <p>2121051228</p>
</div>  
<div class="w3-card-4">
  <img src="img_snowtops.jpg" alt="Alps">
  <div class="w3-container w3-center">
   <p>2121051228</p>
  </div>
</div>

</body>
</html> 
