<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body class="w3-content" style="max-width:500px">

<div class="w3-container w3-card w3-indigo">
  <h1>Movies 2014</h1>
</div>

<ul class="w3-ul">
  <li>
    <h3>w3-content</h3>
    <p>Hoang Viet Trung -2121051228</p>
  </li>
  <li>
    <h3>The Fault in Our Stars</h3>
    <p>Hoang Viet Trung -2121051228</p>
  </li>
  <li>
    <h3>The Avengers</h3>
    <p>Hoang Viet Trung -2121051228</p>
  </li>
</ul>

<div class="w3-container w3-indigo w3-xlarge">
  <h5>Movies 2014</h5>
</div>
<div class="w3-container w3-hide-small w3-red">
  <p>Hoang Viet Trung -2121051228</p>
</div>

<div class="w3-container w3-hide-medium w3-green">
  <p>Hoang Viet Trung -2121051228</p>
</div>

<div class="w3-container w3-hide-large w3-blue">
  <p>Hoang Viet Trung -2121051228</p>
</div>
<div>
<a class="w3-button w3-mobile" href="#">Link</a>
</div>
<div class="w3-row">
  <div class="w3-col m4 l3">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
  <div class="w3-col m8 l9">
    <p>Hoang Viet Trung -2121051228</p>
  </div>
</div>
<div class="w3-row">
  <div class="w3-col s6 w3-green w3-center"><p>s6</p></div>
  <div class="w3-col s6 w3-dark-grey w3-center"><p>s6</p></div>
</div>
<div class="w3-row">
  <div class="w3-col s3 w3-green w3-center"><p>s3</p></div>
  <div class="w3-col s9 w3-dark-grey w3-center"><p>s9</p></div>
</div>
<div class="w3-row">
  <div class="w3-col s4 w3-green w3-center"><p>s4</p></div>
  <div class="w3-col s4 w3-dark-grey w3-center"><p>s4</p></div>
  <div class="w3-col s4 w3-red w3-center"><p>s4</p></div>
</div>
<div class="w3-row">
  <div class="w3-col m3 w3-green w3-center"><p>m3</p></div>
  <div class="w3-col m6 w3-dark-grey w3-center"><p>m6</p></div>
  <div class="w3-col m3 w3-red w3-center"><p>m3</p></div>
</div>
<div class="w3-row">
  <div class="w3-col m2 w3-green w3-center"><p>m2</p></div>
  <div class="w3-col m2 w3-red w3-center"><p>m2</p></div>
  <div class="w3-col m2 w3-blue w3-center"><p>m2</p></div>
  <div class="w3-col m2 w3-dark-grey w3-center"><p>m2</p></div>
  <div class="w3-col m2 w3-black w3-center"><p>m2</p></div>
  <div class="w3-col m2 w3-purple w3-center"><p>m2</p></div>
</div>
<div class="w3-row">
  <div class="w3-col s4"><img src="img_lights.jpg"></div>
  <div class="w3-col s4"><img src="img_nature.jpg"></div>
  <div class="w3-col s4"><img src="img_snowtops.jpg"></div>
</div>

<div class="w3-row-padding">
  <div class="w3-col s4"><img src="img_lights.jpg"></div>
  <div class="w3-col s4"><img src="img_nature.jpg"></div>
  <div class="w3-col s4"><img src="img_snowtops.jpg"></div>
</div>

</body>
</html>