<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>

<div class="w3-container">
  <h2>Tooltips</h2>
  <p>Hoang Viet Trung -2121051228</p>

  <p class="w3-tooltip">London <span class="w3-text">(<em>9 million inhabitants</em>)</span> is the capital of England.</p>
</div>
<div>
<p class="w3-tooltip">London
<span class="w3-text w3-tag"><b>9 million inhabitants</b></span>
Hoang Viet Trung -2121051228</p>
</div>
<div class="w3-tooltip">
  <p class="w3-text">Hoang Viet Trung -2121051228</p>
  <img src="img_car.jpg" alt="Car">
</div>
<div class="w3-tooltip">
  <img src="img_car.jpg" alt="Car">
  <p class="w3-text">Hoang Viet Trung -2121051228</p>
</div>
<div>
<p class="w3-tooltip">London
<span style="position:absolute;left:0;bottom:18px"
class="w3-text w3-tag">9 million inhabitants</span>
Hoang Viet Trung -2121051228</p>
</div>
<div>
<span class="w3-text w3-tag w3-red">9 million inhabitants</span>
</div>
<div>
<span class="w3-text w3-tag w3-round-xlarge">9 million inhabitants</span>
</div>
</body>
</html>