<form asp-action="Index">
    <label>Nhap Person ID</label>
    <input type="text"name="PersonID">
    <label>Nhap ho ten</label>
    <input type="text"name="FullName">
    <label>Nhap dia chi </label>
    <input type="text"name="Address">
    <input type="submit"value="Gui Du Lieu">
</form>
<h1>Du Lieu Gui Ve La : @ViewBag.infoPerson</h1>